<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('weld_info列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>机器人：</p>
                                <input type="text" name="robotId"/>
                            </li>
                            <li>
                                <p>焊枪类型：</p>
                                <input type="text" name="gunType"/>
                            </li>
                            <li>
                                <p>焊接点：</p>
                                <input type="text" name="weldingSpotId"/>
                            </li>
                            <li class="select-time">
                                <p>当前时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginDatatime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endDatatime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i> 搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i> 重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="manufacture:weldinfo:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="manufacture:weldinfo:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="manufacture:weldinfo:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="manufacture:weldinfo:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('manufacture:weldinfo:edit')}]];
        var removeFlag = [[${@permission.hasPermi('manufacture:weldinfo:remove')}]];
        var prefix = ctx + "manufacture/weldinfo";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "weld_info",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'autoId', 
                    title : 'ID',
                    visible: false
                },
                {
                    field : 'robotId', 
                    title : '机器人',
                    sortable: true
                },
                {
                    field : 'gunType', 
                    title : '焊枪类型',
                    sortable: true
                },
                {
                    field : 'weldingSpotId', 
                    title : '焊接点',
                    sortable: true
                },
                {
                    field : 'currentElec', 
                    title : '实时电流',
                    sortable: true
                },
                {
                    field : 'currentVoltage', 
                    title : '实时电压',
                    sortable: true
                },
                {
                    field : 'currentResistance', 
                    title : '实时电阻',
                    sortable: true
                },
                {
                    field : 'currentPower', 
                    title : '焊接功率',
                    sortable: true
                },
                {
                    field : 'currentEnergy', 
                    title : '焊接能量',
                    sortable: true
                },
                {
                    field : 'weldingQuality', 
                    title : '焊接质量',
                    sortable: true
                },
                {
                    field : 'datatime', 
                    title : '当前时间',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.autoId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.autoId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>