<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改partpurchase')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-partpurchase-edit" th:object="${dsPartpurchase}">
            <input name="purchaseid" th:field="*{purchaseid}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">采购时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="purchasedate" th:value="${#dates.format(dsPartpurchase.purchasedate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required"><span style="color: red">* </span>采购数量：</label>
                <div class="col-sm-8">
                    <input name="purchasenumer" th:field="*{purchasenumer}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备件规格：</label>
                <div class="col-sm-8">
                    <input name="purchasesize" th:field="*{purchasesize}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备件型号：</label>
                <div class="col-sm-8">
                    <input name="purchasetype" th:field="*{purchasetype}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">备件名称：</label>
                <div class="col-sm-8">
                    <input name="purchasename" th:field="*{purchasename}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">订单ID：</label>
                <div class="col-sm-8">
                    <input name="serviceorderid" th:field="*{serviceorderid}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">供应商ID：</label>
                <div class="col-sm-8">
                    <input name="supplierid" th:field="*{supplierid}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">中心ID：</label>
                <div class="col-sm-8">
<!--                    <input name="centerid" th:field="*{centerid}" class="form-control" type="text" required>-->
                    <select id="centerid" name="centerid" class="form-control" required>
                        <option th:each="center : ${centerIDInfo}" th:text="${center.centerid}" th:value="${center.centerid}"></option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/partpurchase";
        $("#form-partpurchase-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-partpurchase-edit').serialize());
            }
        }

        $("input[name='purchasedate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>