<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('partpurchase列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li class="select-time">
                                <p>采购时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginPurchasedate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endPurchasedate]"/>
                            </li>
                            <li>
                                <p>采购数量：</p>
                                <input type="text" name="purchasenumer"/>
                            </li>
                            <li>
                                <p>备件规格：</p>
                                <input type="text" name="purchasesize"/>
                            </li>
                            <li>
                                <p>备件型号：</p>
                                <input type="text" name="purchasetype"/>
                            </li>
                            <li>
                                <p>备件名称：</p>
                                <input type="text" name="purchasename"/>
                            </li>
                            <li>
                                <p>订单ID：</p>
                                <input type="text" name="serviceorderid"/>
                            </li>
                            <li>
                                <p>供应商ID：</p>
                                <input type="text" name="supplierid"/>
                            </li>
                            <li>
                                <p>中心ID：</p>
                                <input type="text" name="centerid"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:partpurchase:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:partpurchase:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:partpurchase:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:partpurchase:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:partpurchase:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:partpurchase:remove')}]];
        var prefix = ctx + "system/partpurchase";

        $(function() {
            var options = {
                uniqueId: 'purchaseid',
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "partpurchase",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'purchasedate', 
                    title : '采购时间'
                },
                {
                    field : 'purchasenumer', 
                    title : '采购数量'
                },
                {
                    field : 'purchasesize', 
                    title : '备件规格'
                },
                {
                    field : 'purchasetype', 
                    title : '备件型号'
                },
                {
                    field : 'purchasename', 
                    title : '备件名称'
                },
                {
                    field : 'serviceorderid', 
                    title : '订单ID'
                },
                {
                    field : 'supplierid', 
                    title : '供应商ID'
                },
                {
                    field : 'centerid', 
                    title : '中心ID'
                },
                {
                    field : 'purchaseid', 
                    title : '采购ID',
                    visible: false
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.purchaseid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.purchaseid + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>