<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改文件导入导出测试')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-fileinputoutput-edit" th:object="${fileinputoutput}">
            <input name="fileid" th:field="*{fileid}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">路径：</label>
                <div class="col-sm-8">
                    <input id="filepath" name="filepath" th:field="*{filepath}" class="form-control" type="file">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">文件名：</label>
                <div class="col-sm-8">
                    <input id="filename" name="filename" th:field="*{filename}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/fileinputoutput";
        $("#form-fileinputoutput-edit").validate({
            focusCleanup: true
        });

        // function uploadFile(){
        //     var formDate = new FormData();
        //     if ($('#filepath')[0].files[0] == null){
        //         $.modal.alertWarning("请先选择文件路径");
        //         return false;
        //     }
        //     formDate.append('filename',$('#filename').val());
        //     formDate.append('file',$('#filepath')[0].files[0]);
        //     $.ajax({
        //         url:prefix + "/edit",
        //         type:'post',
        //         cache:false,
        //         data:formDate,
        //         processData:false,
        //         contentType:false,
        //         dataType:"json",
        //         success:function (result){
        //             $.operate.successCallback(result);
        //         }
        //     })
        // }

        function submitHandler() {
            if ($.validate.form()) {
                // uploadFile();
                $.operate.save(prefix + "/edit", $('#form-fileinputoutput-edit').serialize());
            }
        }
    </script>
</body>
</html>