<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('生产信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>车辆编号：</p>
                                <input type="text" name="vechicleid"/>
                            </li>
                            <li>
                                <p>工位编号：</p>
                                <input type="text" name="stationid"/>
                            </li>
                            <li>
                                <p>整车物料编号：</p>
                                <input type="text" name="manupartsnumber"/>
                            </li>
                            <li>
                                <p>车型编号：</p>
                                <input type="text" name="vechicletypeid"/>
                            </li>
                            <li>
                                <p>工艺名称：</p>
                                <input type="text" name="processname"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:vechicle:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:vechicle:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:vechicle:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:vechicle:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:vechicle:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:vechicle:remove')}]];
        var prefix = ctx + "system/vechicle";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "生产信息",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '序号',
                    visible: false
                },
                {
                    field : 'vechicleid', 
                    title : '车辆编号'
                },
                {
                    field : 'stationid', 
                    title : '工位编号'
                },
                {
                    field : 'manupartsnumber', 
                    title : '整车物料编号'
                },
                {
                    field : 'vechicletypeid', 
                    title : '车型编号'
                },
                {
                    field : 'starttime', 
                    title : '进入工位时间'
                },
                {
                    field : 'endtime', 
                    title : '离开工位时间'
                },
                {
                    field : 'processname', 
                    title : '工艺名称'
                },
                {
                    field : 'processquality', 
                    title : '工艺质量'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>