<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('生产信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>产线编号：</p>
                                <input type="text" name="productlineid"/>
                            </li>
                            <li>
                                <p>车型编号：</p>
                                <input type="text" name="vechicletypeid"/>
                            </li>
                            <li class="select-time">
                                <p>规划开始时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginProductionplantime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endProductionplantime]"/>
                            </li>
                            <li>
                                <p>当前状态：</p>
                                <select name="currentstatus" th:with="type=${@dict.getType('ds_manufacture_productionstatus')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:vechicleproduction:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:vechicleproduction:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:vechicleproduction:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:vechicleproduction:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:vechicleproduction:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:vechicleproduction:remove')}]];
        var currentstatusDatas = [[${@dict.getType('ds_manufacture_productionstatus')}]];
        var prefix = ctx + "system/vechicleproduction";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "生产信息",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'vechicleproductionid', 
                    title : '序号',
                    visible: true
                },
                {
                    field : 'vechicletypeid', 
                    title : '车型编号'
                },
                {
                    field : 'productlineid', 
                    title : '生产工厂编号'
                },
                {
                    field : 'productionplantime', 
                    title : '规划开始时间'
                },
                {
                    field : 'productionplannum', 
                    title : '规划生产数量'
                },
                {
                    field : 'productionstarttime', 
                    title : '生产开始时间'
                },
                {
                    field : 'productionnum', 
                    title : '已生产数量'
                },
                {
                    field : 'currentstatus', 
                    title : '当前状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(currentstatusDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.vechicleproductionid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.vechicleproductionid + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>