<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.station.mapper.DsStationMapper">
    
    <resultMap type="DsStation" id="DsStationResult">
        <result property="stationid"    column="stationID"    />
        <result property="stationname"    column="stationName"    />
        <result property="stationtype"    column="stationType"    />
        <result property="productlineid"    column="productlineID"    />
    </resultMap>

    <sql id="selectDsStationVo">
        select stationID, stationName, stationType, productlineID from ds_station
    </sql>

    <select id="selectDsStationList" parameterType="DsStation" resultMap="DsStationResult">
        <include refid="selectDsStationVo"/>
        <where>  
            <if test="stationname != null  and stationname != ''"> and stationName like concat('%', #{stationname}, '%')</if>
            <if test="stationtype != null  and stationtype != ''"> and stationType = #{stationtype}</if>
            <if test="productlineid != null "> and productlineID = #{productlineid}</if>
        </where>
    </select>
    
    <select id="selectDsStationById" parameterType="Long" resultMap="DsStationResult">
        <include refid="selectDsStationVo"/>
        where stationID = #{stationid}
    </select>
        
    <insert id="insertDsStation" parameterType="DsStation">
        insert into ds_station
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stationid != null ">stationID,</if>
            <if test="stationname != null  and stationname != ''">stationName,</if>
            <if test="stationtype != null  and stationtype != ''">stationType,</if>
            <if test="productlineid != null ">productlineID,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stationid != null ">#{stationid},</if>
            <if test="stationname != null  and stationname != ''">#{stationname},</if>
            <if test="stationtype != null  and stationtype != ''">#{stationtype},</if>
            <if test="productlineid != null ">#{productlineid},</if>
         </trim>
    </insert>

    <update id="updateDsStation" parameterType="DsStation">
        update ds_station
        <trim prefix="SET" suffixOverrides=",">
            <if test="stationname != null  and stationname != ''">stationName = #{stationname},</if>
            <if test="stationtype != null  and stationtype != ''">stationType = #{stationtype},</if>
            <if test="productlineid != null ">productlineID = #{productlineid},</if>
        </trim>
        where stationID = #{stationid}
    </update>

    <delete id="deleteDsStationById" parameterType="Long">
        delete from ds_station where stationID = #{stationid}
    </delete>

    <delete id="deleteDsStationByIds" parameterType="String">
        delete from ds_station where stationID in 
        <foreach item="stationid" collection="array" open="(" separator="," close=")">
            #{stationid}
        </foreach>
    </delete>
    
</mapper>