<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.firmmaterialqueryanddemands.mapper.FirmmaterialqueryanddemandsMapper">
    
    <resultMap type="Firmmaterialqueryanddemands" id="FirmmaterialqueryanddemandsResult">
        <result property="demands"    column="demands"    />
        <result property="materialquery"    column="materialQuery"    />
        <result property="id"    column="ID"    />
    </resultMap>

    <sql id="selectFirmmaterialqueryanddemandsVo">
        select demands, materialQuery, ID from firmmaterialqueryanddemands
    </sql>

    <select id="selectFirmmaterialqueryanddemandsList" parameterType="Firmmaterialqueryanddemands" resultMap="FirmmaterialqueryanddemandsResult">
        <include refid="selectFirmmaterialqueryanddemandsVo"/>
        <where>  
            <if test="demands != null "> and demands = #{demands}</if>
            <if test="materialquery != null  and materialquery != ''"> and materialQuery = #{materialquery}</if>
        </where>
    </select>
    
    <select id="selectFirmmaterialqueryanddemandsById" parameterType="Long" resultMap="FirmmaterialqueryanddemandsResult">
        <include refid="selectFirmmaterialqueryanddemandsVo"/>
        where ID = #{id}
    </select>
        
    <insert id="insertFirmmaterialqueryanddemands" parameterType="Firmmaterialqueryanddemands" useGeneratedKeys="true" keyProperty="id">
        insert into firmmaterialqueryanddemands
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="demands != null ">demands,</if>
            <if test="materialquery != null  and materialquery != ''">materialQuery,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="demands != null ">#{demands},</if>
            <if test="materialquery != null  and materialquery != ''">#{materialquery},</if>
         </trim>
    </insert>

    <update id="updateFirmmaterialqueryanddemands" parameterType="Firmmaterialqueryanddemands">
        update firmmaterialqueryanddemands
        <trim prefix="SET" suffixOverrides=",">
            <if test="demands != null ">demands = #{demands},</if>
            <if test="materialquery != null  and materialquery != ''">materialQuery = #{materialquery},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteFirmmaterialqueryanddemandsById" parameterType="Long">
        delete from firmmaterialqueryanddemands where ID = #{id}
    </delete>

    <delete id="deleteFirmmaterialqueryanddemandsByIds" parameterType="String">
        delete from firmmaterialqueryanddemands where ID in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>