<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('serviceorder列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>中心ID：</p>
                                <input type="text" name="centerid"/>
                            </li>
                            <li>
                                <p>顾客电话：</p>
                                <input type="text" name="customerphone"/>
                            </li>
                            <li>
                                <p>顾客姓名：</p>
                                <input type="text" name="customername"/>
                            </li>
                            <li>
                                <p>车辆编号：</p>
                                <input type="text" name="vehicleid"/>
                            </li>
                            <li class="select-time">
                                <p>订单日期：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginServiceorderdate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endServiceorderdate]"/>
                            </li>
                            <li>
                                <p>故障原因：</p>
                                <input type="text" name="faultreason"/>
                            </li>
                            <li>
                                <p>故障部位：</p>
                                <input type="text" name="faultlocation"/>
                            </li>
                            <li>
                                <p>故障类型：</p>
                                <select name="faulttype" th:with="type=${@dict.getType('fault_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:serviceorder:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:serviceorder:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:serviceorder:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:serviceorder:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:serviceorder:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:serviceorder:remove')}]];
        var faulttypeDatas = [[${@dict.getType('fault_type')}]];
        var prefix = ctx + "system/serviceorder";

        $(function() {
            var options = {
                uniqueId:'serviceorderid',
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "serviceorder",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'centerid', 
                    title : '中心ID'
                },
                {
                    field : 'customerphone', 
                    title : '顾客电话'
                },
                {
                    field : 'customername', 
                    title : '顾客姓名'
                },
                {
                    field : 'vehicleid', 
                    title : '车辆编号'
                },
                {
                    field : 'serviceorderdate', 
                    title : '订单日期'
                },
                {
                    field : 'faultreason', 
                    title : '故障原因'
                },
                {
                    field : 'faultlocation', 
                    title : '故障部位'
                },
                {
                    field : 'faulttype', 
                    title : '故障类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(faulttypeDatas, value);
                    }
                },
                {
                    field : 'serviceorderid', 
                    title : '订单ID',
                    visible: false
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.serviceorderid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.serviceorderid + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>