<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增产线信息')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-productline-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">产线名称：</label>
                <div class="col-sm-8">
                    <input name="productlinename" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">产线类型：</label>
                <div class="col-sm-8">
                    <select name="productlinetype" class="form-control m-b" th:with="type=${@dict.getType('ds_manufacture_productlineType')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">所属车间：</label>
                <div class="col-sm-8">
                    <input name="workshopid" class="form-control" type="text" >
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/productline"
        $("#form-productline-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-productline-add').serialize());
            }
        }
    </script>
</body>
</html>