html{
    height: 100%;
    width: 100%;
}

body{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}

section{
    width: 100%;
    height: 100%;
}

.firmList{
    float: left;
    height: 100%;
    width: 30%;
    margin-right: 10px;
    padding: 0;
    margin-left: 10px;


}

.supplyNet{
    float: left;
    height: 100%;
    width: 68%;
    margin: 0;
    padding: 0;
    /*background-color: lightgrey;*/

}

.firmListTitle {
    height: 6%;
    width: 98%;
    -moz-box-align: center;
    -webkit-box-align: center;
    /*text-align: center;*/
    font-size: large;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    /*margin: auto;*/
    /*padding-bottom: 1%;*/

}

.firmData{
    height: 92%;
    width: 98%;
    border: 2px solid lightgrey;
    overflow-y: auto;
    /*background-color: lightgray;*/

}

.firmDataTable{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}
.firmMysqlInfos{
    border-top: 1px solid lightgrey;
}
td{
    padding: 5px;
    word-break: break-all;
}
