html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: url("../img/darkBlue.png")  no-repeat ;
    background-size: 100% 100%;
    color: white;
}
.manufactureKnowledge{
    /*border-right: 1px solid blue;*/
    border: grey solid 3px;
    box-sizing: border-box;
    height:90%;
    width:24%;
    float:left;
    /*margin: 0;*/
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    background: url("../img/normalBlue.png")  no-repeat ;
    background-size: 100% 100%;
}
.knowledgeMapping{
    /*border-right: 1px solid blue;*/
    border: grey solid 3px;
    box-sizing: border-box;
    height:90%;
    width:48%;
    float:left;
    /*margin: 0;*/
    margin-right: 5px;
    padding: 0;
    margin-left: 5px;
    background: url("../img/gradualColor.png")  no-repeat ;
    background-size: 100% 100%;
}
.statisticalGraph{
    border: grey solid 3px;
    height:89%;
    width:26%;
    float:left;
    margin: 0;
    padding: 0;
    background: url("../img/gradualColor.png")  no-repeat ;
    background-size: 100% 100%;
}
.historymanufactureKnowledge{
    border: grey solid 2px;
    box-sizing: border-box;
    height: 45%;
    /*border-bottom: 1px solid lightblue;*/
    /*padding: 0px 5% 5%;*/
    /*overflow-y: auto;*/
    margin: 4px 4px 3px;
    background: url("../img/darkBlue.png")  no-repeat ;
    background-size: 100% 100%;
}
.historytable{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}
.manucontent{
    border-top: 1px solid grey;

}
.title{
    /*padding: 10px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: large;
    text-align: center;
    background: url("../img/symbol2.png")  no-repeat center;
    /*background: center;*/
    background-size: 96% 75%;


}
td{
    padding: 5px;
    word-break: break-all;
}

.newmanufactureKnowledge{
    border: grey solid 2px;
    height: 52%;
    /*padding: 0px 5% 5%;*/
    /*overflow-y: auto;*/
    margin-left: 4px;
    margin-right: 4px;
    background: url("../img/darkBlue.png")  no-repeat ;
    background-size: 100% 100%;
}
.title2{
    margin:0;
    font-weight: bold;
    font-size:1.5em;
    /*padding-left: 1%;*/
    padding-top: 2%;
    padding-left: 2%;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}
#mapVessel{
    /*width: inherit;*/
    /*height: inherit;*/
    width: 85%;
}
.datamapping{
    /*float: right;*/
    width: 85%;
    /*height: 65%;*/
    padding-left: 10%;
    margin-top: -12%;
    text-align: center;
}

.record{
    width: 100%;
    height: auto;
}
#entitynum{

    width: 90%;
    text-align: right;
}
#triplenum{

    width: 90%;
    text-align: right;
}
.processnum{
    border: grey solid 2px;
    /*width: 80%;*/
    padding:0;
    height: 37%;
    margin: 5% 5% 5%;
}
.ktypenum{
    border: grey solid 2px;
    /*width: 80%;*/
    height: 37%;
    margin: 5% 5% 5%;

}
.a1{
    background-color: #27bbff;
}
#describeTableTitle{
    height: auto;
    width: auto;
    padding: 2%;
    margin-top: -7.5%;
    font-weight: bold;
}
#describeTable{
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: -1%;
    background: url("../img/darklightBlue.png")  no-repeat ;
    background-size: 100% 100%;
}
#describe{
    border-left: grey solid 1px;
    border-top: grey solid 1px;
    border-collapse: collapse;
    text-align: center;
    height: 100%;
    width: 100%;
}
#describe td{
    border-right: grey solid 1px;
    border-bottom: grey solid 1px;
    border-spacing: 0;
    font-size: small;
}

.historyData{
    overflow-y: auto;
    height: 80%;
    border: grey solid 1.5px;
    background: url("../img/darklightBlue.png")  no-repeat ;
    background-size: 100% 100%;
    /*padding: 0px 5% 5%;*/
    margin-left: 3%;
    margin-right: 3%;
}

.historyData::-webkit-scrollbar{
    width: 8px;
    height: 4px;
}
.historyData::-webkit-scrollbar-thumb{
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #c7c4c4;
}
.historyData::-webkit-scrollbar-track{
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2) inset;
}
.historyData::-webkit-scrollbar-corner{
    background: transparent;
}

.newestData{
    border: grey solid 1.5px;
    height: 81%;
    overflow-y: auto;
    background: url("../img/darklightBlue.png")  no-repeat ;
    background-size: 100% 100%;
    margin-left: 3%;
    margin-right: 3%;
}
.newestData::-webkit-scrollbar{
    width: 8px;
    height: 4px;
}
.newestData::-webkit-scrollbar-thumb{
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #c7c4c4;
}
.newestData::-webkit-scrollbar-track{
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2) inset;
}
.newestData::-webkit-scrollbar-corner{
    background: transparent;
}
.statisticalGraphTitle{
    padding: 12px;
    font-weight: bold;
    font-size: large;
    text-align: center;
    background: url("../img/normalBlue.png")  no-repeat center;
    background-size: 98% 96%;
}
.interactionNum{
    color: #c6ae15;
}

.totalNum{
    color: #c6ae15;
}
.symbol_3{
    height: 34px;
    width: 100%;
    background: url("../img/symbol3.png")  no-repeat center;
    background-size: 98% 96%;
}
.design_interface_title{
    width: 100%;
    height: 5%;
    /*text-align: center;*/

}
.interface_title{
    width: 36%;
    height: 100%;
    margin-left: 32%;
    margin-right: 32%;
    margin-top: 1%;
    /*margin-top: 0%;*/
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    border-right: #0e9aef solid 1px;
    border-left: #0e9aef solid 1px;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*box-sizing: border-box;*/

}
