html{
    height: 100%;
    width: 100%;
}

body{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
    height: 100%;
}
.queryCondition{
    width: 96%;
    height: 8%;
    margin-left: 2%;
}

.production_prediction_form{
    width: 96%;
    height: 32%;
    margin-left: 2%;
}
.functionBox{
    width: 96%;
    height: 58%;
    margin-left: 2%;


}
.queryPart{
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
}

.imaterialName{
    margin-left: 2%;
}
.isupplierName{

    margin-left: 1%;
}
.istartDate{

    margin-left: 1%;
}
.ifinishDate{

    margin-left: 1%;
}
.iqueryButton{
    margin-left: 2%;
    width: 10%;
}
#queryButton{
    color: white;
    border-color: grey;
    background-color: #3a6cc6;
    width: 35%;
}

#queryButton:hover{
    background-color: lightskyblue;
}

.production_prediction_form_title{
    width: 100%;
    height: 15%;
    background: #4472C4;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: white;
}
.production_prediction_form_content{
    width: 100%;
    height: 85%;
    overflow-y: auto;
}
.form_table{
    border: solid 1px #4472C4;
    height: 100%;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}
.production_prediction_form_content::-webkit-scrollbar{
    width: 8px;
    height: 4px;
}
.production_prediction_form_content::-webkit-scrollbar-thumb{
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #c7c4c4;
}
.production_prediction_form_content::-webkit-scrollbar-track{
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2) inset;
}
.production_prediction_form_content::-webkit-scrollbar-corner{
    background: transparent;
}
.form_table_detail{
    border-top: solid 1px #4472C4;
}
.detailsButton{
    color: white;
    border-color: grey;
    background-color: orange;
    width: 40%;
    border-radius: 5px;
    font-weight: bold;
}
.num{
    width: 40px;
}
.proPredict{
    width: 90px;
}
.predict_time{
    width: 90px;
}
.functionBoxContent{
    height: 96%;
    width: 100%;
    border: #4472C4 solid 2px;
    margin-top: 0.9%;
}
.inputPart{
    width: 100%;
    height: 55%;

}
.inputPart1{
    float: left;
    height: 86%;
    width: 40%;
    border: #4472C4 solid 2px;
    margin-top: 0.6%;
    margin-left: 2%;
}
.inputPart1Title{
    text-align: center;
    height: 15%;
    width: 100%;
    font-weight: bold;
    font-size: large;
}
.inputPart1Input{
    height: 65%;
    margin-left: 20%;
}
.input1Part{
    padding-bottom: 0.5%;
}
.inputPart1Button{
    width: 100%;
    height: 20%;
    text-align: center;
}
.Part1Button{
    color: white;
    border-color: grey;
    background-color: orange;
    width: 15%;
    border-radius: 5px;
    font-weight: bold;
}
.reset{
    margin-right: 25%;
}

.inputPart2{
    float: left;
    height: 86%;
    width: 40%;
    border: #4472C4 solid 2px;
    margin-top: 0.6%;
    margin-left: 4%;
}
.inputPart2Title{
    text-align: center;
    height: 15%;
    width: 100%;
    font-weight: bold;
    font-size: large;
}
.inputPart2Input{
    height: 65%;
    margin-left: 20%;
}
.input2Part{
    padding-bottom: 2%;
}
.inputPart2Button{
    width: 100%;
    height: 20%;
    text-align: center;
}
.Part2Button{
    color: white;
    border-color: grey;
    background-color: orange;
    width: 15%;
    border-radius: 5px;
    font-weight: bold;
}





.inputPart3{
    float: left;
    height: 80%;
    width: 4%;
    /*text-align: center;*/
    font-weight: bold;
    font-size: large;
    color: white;
    background: url("../img/production_prediction_bac.png")  no-repeat center;
    background-size: 100% 100%;
    margin-top: 0.8%;
    margin-left: 4%;
}
.inputPart3Val{
    word-break: break-all;
    height: 60%;
    width: 60%;
    margin-left: 30%;
    margin-top: 30%;

}



.resultPart{
    width: 100%;
    height: 45%;

}
.resultPartTitle{
    margin-left: 2%;
    height: 18%;
    width: 94%;
    background: #4472C4;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: white;
}
.resultPartTable{
    margin-left: 2%;
    height: 82%;
    width: 94%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    overflow-y: auto;

}
.resultPartTable::-webkit-scrollbar{
    width: 8px;
    height: 4px;
}
.resultPartTable::-webkit-scrollbar-thumb{
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #c7c4c4;
}
.resultPartTable::-webkit-scrollbar-track{
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2) inset;
}
.resultPartTable::-webkit-scrollbar-corner{
    background: transparent;
}
.resultPartTableContent{
    /*border: solid 1px #4472C4;*/
    height: 100%;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}
.resultPartTable_detail{
    border-top: solid 1px #4472C4;
}